/* styles specific to the mental health app */

body{

	font-family: 'Gafata', sans-serif;
	background: #f0f9ff; /* Old browsers */
	background: -moz-linear-gradient(top, #f0f9ff 0%, #cbebff 47%, #a1dbff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f9ff), color-stop(47%,#cbebff), color-stop(100%,#a1dbff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); /* IE10+ */
	background: linear-gradient(to bottom, #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#a1dbff',GradientType=0 ); /* IE6-9 */
	background-repeat: no-repeat;
	background-attachement: fixed;
}

table{

	margin-left: 10%;
	margin-top: 5%;
	
}

.one-edge-shadow{

	-webkit-box-shadow: 0 8px 6px -6px #000;
	-moz-box-shadow: 0 8px 6px -6px #000;
	box-shadow: 0 8px 6px -6px black;

}

#content{

	margin-left: 20%;
	margin-right: 20%;
	margin-top: 5%;
	margin-bottom: 20%;
	background: #FFF;
	color: #000;
	border: 3px solid #191970;
	padding: 2%;
}
