<!DOCTYPE html>
<html>
<head>
    <title>Mental Health App</title>

<link href='http://fonts.googleapis.com/css?family=Gafata' rel='stylesheet' type='text/css'>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static '../static/css/bootstrap.css' %}" />
{% comment %}<link rel="stylesheet" type="text/css" href="{% static '../static/css/overrides.css' %}" />{% endcomment %}
</head>

<body>
    <h3>Welcome to the Mental Health App!</h3>

	<p>Please view your graph below:</p>
</body>
</html>
