<!DOCTYPE html>
<html>

<link href='http://fonts.googleapis.com/css?family=Gafata' rel='stylesheet' type='text/css'>
{% load static %}
<link media="all" href="{% static 'nvd3/nv.d3.min.css' %}" type="text/css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="{% static '../static/css/bootstrap.css' %}" />
<script type="text/javascript" src='{% static 'd3/d3.min.js' %}'></script>
<script type="text/javascript" src='{% static 'nvd3/nv.d3.min.js' %}'></script>

<head>
    <title></title>
</head>
<body>
    <h1>{{ user_name }}</h1>
    <script>/*These lines are all chart setup.  Pick and choose which chart features you want to utilize. */
nv.addGraph(function() {
  var chart = nv.models.lineChart()
                .margin({left: 100})  //Adjust chart margins to give the x-axis some breathing room.
                .useInteractiveGuideline(true)  //We want nice looking tooltips and a guideline!
                .transitionDuration(350)  //how fast do you want the lines to transition?
                .showLegend(true)       //Show the legend, allowing users to turn on/off line series.
                .showYAxis(true)        //Show the y-axis
                .showXAxis(true)        //Show the x-axis
  ;
  chart.xAxis     //Chart x-axis settings
      .axisLabel('Date');

     // .tickFormat(format);

  chart.yAxis     //Chart y-axis settings
      .axisLabel('Voltage (v)');
      //.tickFormat(d3.format('.02f'));

  /* Done setting the chart up? Time to render it!*/
  var myData = create_voltages();   //You need data...

  d3.select('#chart')    //Select the <svg> element you want to render the chart in.
      .datum(myData)         //Populate the <svg> element with chart data...
      .call(chart);          //Finally, render the chart!

  //Update the chart when window resizes.
  //nv.utils.windowResize(function() { chart.update() });
  return chart;
});
/**************************************
 * Simple test data generator
 */
function create_voltages() {
  var my_voltages = [];
//March 30, 2014, 2:19 p.m.
  var format = d3.time.format("%B %d, %Y, %H:%M %p")
  //Data is represented as an array of {x,y} pairs.
    {% for voltage in voltages %}
        my_voltages.push({
            x: {{ voltage.voltage }},
            y: format.parse({{ voltage.time }})
        });
    {% endfor %}
  //Line chart data should be sent as an array of series objects.
  return [
    {
      values: my_voltages,      //values - represents the array of {x,y} data points
      key: 'My Voltages', //key  - the name of the series.
      color: '#ff7f0e'  //color - optional: choose your own line color.
    }
  ];
}</script>
    <div id="chart"></div>
    {% if voltages %}
    <ul>
        {% for voltage in voltages %}
        <li>Voltage: {{ voltage.voltage }}, Username: {{ voltage.user.name }}, Email: {{ voltage.user.email }}, Date: {{ voltage.time }}</li>
        {% endfor %}
    </ul>
    {% else %}
        <strong>No voltages currently in category.</strong>
    {% endif %}
</body>
</html>
