<!DOCTYPE html>

<link href='http://fonts.googleapis.com/css?family=Gafata' rel='stylesheet' type='text/css'>
{% load staticfiles %}

<link href='http://fonts.googleapis.com/css?family=Gafata' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="{% static '../static/css/bootstrap.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static '../static/css/overrides.css' %}" />
<html>
<head>
    <title>List of Users</title>

</head>
<body>
    {% if user_list %}
        <ul>
            {% for user in user_list %}
            <li>User: {{ user.name }}, Email: {{ user.email }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <strong>There are no users.</strong>
    {% endif %}
</body>
</html>
