<!DOCTYPE html>
<link href='http://fonts.googleapis.com/css?family=Gafata' rel='stylesheet' type='text/css'>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static '../static/css/bootstrap.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static '../static/css/overrides.css' %}" />
<html>
<head>
    <title>List of Voltages</title>

</head>
<body>
    {% if voltage_list %}
        <ul>
            {% for voltage in voltage_list %}
            <li>Voltage: {{ voltage.voltage}}, Username: {{ voltage.user.name}}, Email: {{ voltage.user.email }}, Time: {{ voltage.time }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <strong>There are no voltages.</strong>
    {% endif %}
</body>
</html>
